.main-title{
  margin-left: 5%;
  margin-top: 1%;
}

.home-image-container{
  height: 15rem;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;
}

.table-container{
  width: 65%;
  margin-left: 5%;
}

.stats-container{
  margin-left: 5%;
}


.home-image{
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 5px solid #000;
}

.invisible-spacer{
  color: #fff;
}

.footer-spacer{
  height: 5rem;
  width: 100%;

}

.plant-footer{
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

hr{
  margin-left: 5%;
  margin-right: 5%;
}
